# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project-specific ignores
.vscode
*/.vscode
*/lnInclude
*/Make/linux*
/sigmaModel-v2212
/buiTurbFoam-v2212
makeAll.sh